@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto:wght@100;300;400;500&family=Saira:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color: #033b4a;
  --secondary-color: #20c997;
  --gray: #4a4a4d;
  --bg-primary: #ecf0f3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

h1,
h2 {
  font-family: "Saira", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Start Utility Classes */
.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
  background-color: red;
}

.text-primary {
  color: var(--secondary-color);
}

.btn-primary {
  background-color: var(--secondary-color);
  color: #fff;
  padding: 8px 20px;
  font-size: 14px;
  border-radius: 5px;
  transform: all 0.3 ease;
}

.btn-primary:hover {
  background-color: #15a976;
}
/* End Utility Classes */

/*  Header Start */
header {
  background-color: var(--bg-primary);
  height: 100vh;
}

header .navbar {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  position: fixed;
  width: 100%;
}

header .navbar nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: auto;
  padding: 1.2rem 2rem;
}

header .logo {
  color: var(--primary-color);
  font-size: 24px;
  font-weight: 600;
}
header .navbar nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .navbar nav ul a {
  margin: 0 15px;
  color: var(--primary-color);
  font-weight: 600;
}

header .header-content {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  align-items: center;
  max-width: 1100px;
  margin: auto;
  padding: 5rem 2rem 0;
  height: 100%;
}

header .header-content .content-text {
  margin-bottom: 5rem;
}

header .header-content p span {
  font-weight: 700;
  font-size: 20px;
}

header .header-content h1 {
  font-size: 60;
  columns: var(--primary-color);
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
}

header .header-content .title {
  font-size: 20px;
  color: var(--primary-color);
  margin: 10px 0;
  font-weight: 500;
}

header .header-content .social {
  margin: 1rem 0 2rem;
}

header .header-content .social a i {
  font-size: 18px;
  padding: 10px;
  background-color: var(--gray);
  color: #fff;
  border-radius: 50%;
  margin-right: 10px;
  transition: all 0.3 ease;
}

header .header-content .social a i:hover {
  transform: scale(0.8);
}

header .header-content img {
  max-width: 400px;
}
/* Header End */

/* Start About */
main .about {
  padding: 6rem 0;
}
main .about h2 {
  text-align: center;
  font-size: 38px;
  color: var(--primary-color);
  font-weight: 600;
  letter-spacing: 1px;
}
/* End About */
